@import { url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
}
html, body{
    font-family:'Poppins', sans-serif;;
    margin: 0;
    background-color: rgb(48, 67, 85);
}
.cabeza{
    height: 100px;
    
    background-color: rgb(185, 185, 185);

}
.navbar{
    height: 100px;
    display: flex;
}

.home:hover{
    height: 50px;
    background-color: white;
    width: 220px;
    box-shadow: 10px 10px 10px rgb(255, 0, 0);


}
.menu{
    color: rgb(201, 74, 15);
    font-weight: 400;
    width: 50%;
    height: 100px;
    font-size: 1.5em;
    align-items: center;
    display: flex;
    margin-left: 4%;
    justify-content: flex-start;
}
.menu2{
    color: white;
    height: 100px;
    width: 50%;
    align-items: center;
    margin-right: 3%;
    display: flex;
    gap: 40px;
    justify-content: flex-end;

}
.container{
    display: flex;
}
.text-izq{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.text-izq h1{
    font-size: 4em;
    color: rgb(201, 74, 15);
    margin: 0px;
}
.text-dere{

    width: 50%;
    display: flex;
    justify-content:flex-start;
    align-items: center;
    height: 762px;

}
.texto{
    color: white;
}
#cua{
    border: rgb(201, 74, 15) solid 2px;
    background-color: rgb(201, 74, 15);
    width: 50%;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}
#cua:hover{
    box-shadow: 10px 10px 10px rgb(255, 0, 0);
    width: 51%;
    height: 31px;

}
.text-dere img{
    height: 70%;
}
.container-2{
    color: white;
    display: flex;
    height: 800px;
    border-top: rgb(255, 94, 0) solid 4px;
}
.text-izq2{
    width: 50%;
    display: flex;
    justify-content:flex-end;
    align-items: center;
    height: 762px;
}
.text-dere2{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.texto2{
    width: 32%;
    display: flex;
    margin-left: 90px;
    flex-direction: column;
    align-items: end;
}
.letra{
    letter-spacing: 2px;
}
.letra h2{
    font-size: 2em;
}
.letra h4{
    color: rgb(201, 74, 15);
}
.container-3{
    color: white;
    display: flex;
    height: 800px;
    flex-direction: column;
    border-top: rgb(255, 94, 0) solid 4px;
}
.text-arriba{
    letter-spacing: 2px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 25%;

    align-items: center;
}
.text-arriba h1{
    font-size: 3em;
    margin: 0;
}
.text-arriba h2{
    font-size: 2em;
    color: rgb(201, 74, 15);
    font-size: 1.5em;
    margin: 0;
}
.text-abajo{
    width: 100%;
    display: flex;
    justify-content: center;

}

.muestra{
    letter-spacing: 2px;
    line-height: 20px;
    margin-top: 7%;
    display: flex;
    height: auto;
    width: auto;
    gap: 50px;


}
.muestra1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: rgb(0, 0, 0) solid 3px;
    width: 250px;
    background-color: gray;
    height: 250px;

}

.muestra img{
    height: 150px;
    width: 150px;
    margin: 0;
}
.muestra h3,h4{
    margin: 0;
}
#precio{
    color: rgb(201, 74, 15);
}
.muestra1:hover{
    height: 260px;
    width: 260px;
    box-shadow: 10px 10px 10px white;

}
.container-4{
    color: white;
    display: flex;
    height: 700px;
    flex-direction: column;
    border-top: rgb(255, 94, 0) solid 4px;
}
.muestra2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 250px;
    height: 100px;
}
.muestrador{
    letter-spacing: 2px;
    line-height: 20px;
    display: flex;
    color: rgb(255, 94, 0);
    height: auto;
    width: auto;
    gap: 50px;
}
.muestrador img{
    height: 150px;
    width: 150px;
    margin: 0;
}
.muestrador2{
    text-align: center;
    letter-spacing: 2px;
    line-height: 20px;
    display: flex;

    height: 260px;
    width: auto;
    gap: 50px;
}
.text-abajo2{
    width: 100%;
    align-items: center;
    flex-direction: column;
    display: flex;
    justify-content: center; 
    height: 70%;
}
.muestra3{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 250px;
    height: 250px;
}
.text-arriba2{
    letter-spacing: 2px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 30%;
    align-items: center;
}
.text-arriba2 h1{
    font-size: 3em;
    margin: 0;
}
.text-arriba2 h2{
    font-size: 2em;
    color: rgb(201, 74, 15);
    font-size: 1.5em;
    margin: 0;
}
.container-5{
    display: flex;
    height: 500px;
    flex-direction: column;
    border-top: rgb(255, 94, 0) solid 4px;
    justify-content: center;
    align-items: center;
}
.cuadro{
    height: 80%;
    width: 80%;
    background-color: rgb(207, 206, 184);
    display: flex;
    justify-content: center;
    align-items: center;
    border: rgb(0, 0, 0) solid 3px;


}
.cuadro:hover{
    height: 81%;
    width: 81%;
    box-shadow: 10px 10px 10px white;

}
.text-cuadro{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 40%;
    width: 40%;
    
}
.text-cuadro h1{
    color: rgb(0, 0, 0);
    text-align: center;
    margin: 0;
    font-size: 3em;
}
#cuadro{
    width: 120px;
    border: rgb(255, 94, 0) solid 2px;
    text-align: center;
    color: white;
    background-color: rgb(255, 94, 0);
}
#cuadro:hover{
    width: 128px;
    box-shadow: 10px 10px 10px rgb(255, 0, 0);
    height: 35px;
}
.container-6{
    display: flex;
    gap: 20px;
    height: 300px;
    border-top: rgb(255, 94, 0) solid 4px;
    justify-content: center;
    align-items: center;
}
ul{
    border-bottom: rgb(255, 94, 0) solid 5px;
}
.listas1{
    width: 200px;
    height: 250px;
}
p{
    color: white;
}
a{
    color: white;
    text-decoration: none;
}
a:hover{
    background-color: red;
}

.alerta{
    display: none;
}

.navbar2{
    display: none;
}
.hamburguesa{
    display: none;
}


@media (max-width: 390px){
    .cabeza{
        width: 730px;
    }
    html,body{
        width: 730px;
    }
    .container{
        display: flex;
        flex-direction: column;
    }
    .text-izq{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        text-align: center;
        margin-top: 30px;
    }
    #cua{
        margin-left: 90px;
    }
    .text-dere{
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        margin-top: 0px;
        width: auto;
    }
    .muestra{
        display: flex;
        flex-direction: column;
    }
    .container-2{
        display: flex;
        flex-direction: column;
        height: auto;
        width: auto;
    }
    .text-izq2{
        width: 100%;
        justify-content: center;
    }
    .text-dere2{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 340px;
    }
    .letra{
        width: 500px;
        font-size: 22px;
        text-align: center;
        margin-bottom: 90px;

    }
    .container-3{
        font-size: 18px;
        height: 1300px;
    }
    .text-arriba h2{
        font-size: 2em;
    }
    .text-arriba h1{
        margin-top: 30px;
        width: 400px;
    }
    .text-arriba{
        height: 300px;
    }
    .muestrador{
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
    .muestrador2{
        display: ¡none;
    }
    .container-4{
        height: auto;
    }
    .text-arriba2{
        padding-top: 50px;
        height: 200px;
        text-align: center;
    }
    .text-abajo2{
        height: 1100px;
    }
    .cuadro h1{
        width: 400px;
    }
    .container-6{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        gap: 50px;
    }
    .listas1{
        margin: 0;
        font-size: 27px;
        height: auto;
    }
    .listas1 ol{
        margin: 2;
    }


    .menu2{
        display: none;
    }

    .hamburguesa{
        width: 100%;
        display: block;
    }
    .desplegable{
        justify-content: center;
        width: auto;
        border-radius: 10px;
        padding-left: 20px
    }
    .desplegable2{
        display: none;

    }
    .desplegable:hover .desplegable2{
        display: block;

    }
    .desplegable:hover{
        border: rgb(0, 68, 255) solid 2px;
        background: rgb(82, 82, 82);
        color: black;
    }














}